<div class="row">
  <%= nested_form_for @group_email, :html => {:class => "form-horizontal group_email"} do |f| %>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  group_emails_path, :class => 'btn btn-default' %>
      <% if @group_email.errors.any? %>
          <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><%= pluralize(@group_email.errors.count, "error") %> prohibited this group_email
                from being saved:</h3>
            </div>
            <div class="panel-body">
              <ul>
                <% @group_email.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% end %>
      <div class="col-md-8">
        <div class="control-group">
          <%= f.label :message_subject, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :message_subject, :class => 'form-control' %>
          </div>
          <%= error_span(@group_email[:message_subject]) %>
        </div>
        <div class="control-group">
          <%= f.label :message_body, :class => 'control-label' %>
          <div class="controls">
            <%= f.cktext_area :message_body, :class => 'form-control', :ckeditor => {:language => 'en'} %>
          </div>
          <%= error_span(@group_email[:message_body]) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <%= f.fields_for :group_email_recipients do |r| %>
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge"><%= r.link_to_remove "Remove recipient" %></span>
                  <%= r.select :recipient_id, User.all.map { |v| [v.email, v.id] }
                  %>
                </li>
              </ul>
          <% end %>
          <p><%= f.link_to_add "Add a recipient", :group_email_recipients, :class => 'btn btn-default' %></p>
        </div>
      </div>
      </div>
  <% end %>