<% if current_user.has_role? :admin %>
<h1>New group_email</h1>

<%= render 'form' %>

<%= link_to 'Back', group_emails_path %>
<% else %>
    <div class="jumbotron">
      <h1>Hello <%= current_user.first_name %></h1>
      <div class="alert alert-danger" role="alert">
        <p>Dear you have no right to access this page !!!<br>
          Please go back !!!</p>
      </div>
      <p><%= link_to "Dashboard", dashboard_index_path, :class => 'btn btn-primary btn-lg' %></p>
      <p><%= link_to "Emails Dashboard", emails_path, :class => 'btn btn-primary btn-lg' %></p>
    </div>
<% end %>