    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Email Address' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Your Password' %>
        </div>
        <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <div class="checkbox">
                <label>
              <%= f.check_box :remember_me %><h5> Remember me</h5>
                </label>
              </div>
            </div>
        <% end -%>
        <div class="form-group">
          <%= f.submit "Log in", :class => 'btn btn-default btn-lg' %>
        </div>
    <% end %>
    <div class="form-group">
          <%= render "users/shared/links" %>
        </div>
