<div class="row">
  <div class="col-md-6">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Response</h3>
  </div>
  <div class="panel-body">
    <%= render 'messages/form', conversation: conversation %>
  </div>
  </div>
  </div>
  <div class="col-md-6">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= conversation.subject %></h3>
	  </div>
	  <div class="panel-body">
	    <table class="table table-striped">
	    <tbody>
	    <%= content_tag_for(:tr, conversation.receipts_for(current_user)) do |receipt| %>
	    <% message = receipt.message %>
	    <td><%= message.subject %></td>
	    <td><%= message.body %></td>
	    <% end %>
	    </tbody>
        </table>
	  </div>
  	</div>
  </div>
</div>