<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>
    <fieldset>
      <legend>Resend unlock instructionss</legend>
      <div class="form-group">
    <%= f.label :email, :class => 'col-lg-2 control-label' %><br />
        <div class="col-lg-10">
    <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Your email address' %>
          </div>
  </div>

      <div class="form-group">
        <div class="col-lg-10">
    <%= f.submit "Resend unlock", :class => "btn btn-default btn-lg" %>
          </div>
  </div>
<% end %>
<div class="form-group">
  <div class="col-lg-10">
<%= render "users/shared/links" %>
    </div>
</div>
</fieldset>