<h1>Change your password</h1>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token, as: :hidden %>
  <div class="form-group">
    <%= f.password_field :password, label: "New password", required: true, autofocus: true, :class => 'form-control', :placeholder => 'Password' %>
    </div>
    <div class="form-group">
    <%= f.password_field :password_confirmation, label: "Confirm your new password", required: true, :class => 'form-control', :placeholder => 'Password confirmation' %>
  </div>
  <div class="form-group">
    <%= f.button "Change my password", :class => 'btn btn-custom btn-lg btn-block' %>
  </div>
<% end %>
<div class="form-group">
<%= render "devise/shared/links" %>
</div>