<p id="notice"><%= notice %></p>

<p>
  <strong>Recipient:</strong>
  <%= @email.recipient %>
</p>

<p>
  <strong>Message subject:</strong>
  <%= @email.message_subject %>
</p>

<p>
  <strong>Message body:</strong>
  <%= @email.message_body %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
